html {
  font-size: 63%;
}
body {
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
}

@media (max-width:500px) {
  body {
    margin: 0;
  }
}

h1, p, .name, .bio {
    margin: 4%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  
}

h1 {
  font-size: 8rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
}

a:hover {
  font-weight: bold;
}

.name {
  font-size: 160%;
  font-weight: 198;
}

img {
  height: 37rem;
  border-radius: 5%;
  margin: 3%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  display: block;
}

img:hover {
  opacity: 83%;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

@media (max-width:500px) {
  nav {
    box-sizing: border-box;
    text-align: center;
    display: inline;
    width: 90%;
  }
}

nav a {
  color: #626262;
}

@media (max-width:500px) {
  nav a {
    margin: 10px;
  }
}
nav span {
  border-left: 3px solid #626262;
}

@media (max-width:500px) {
  nav span {
    height: 2.5rem;
  }
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-container div {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg/1920px-John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg');
  background-position: center;
  color: white;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 5% 0;
}
@media (max-width:500px) {
  .title-container div {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
  }
}
.title-container div:hover {
  opacity: 80%;
}
.title-container hr {
  width: 80%;
  color: lightgrey;
  opacity: 0.6;
}
@media (max-width:500px) {
  .title-container hr {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
button {
  padding: 2% 4%;
  font-size: 1.8rem;
  border-radius: 8px;
  border: 2px solid #626262;
  box-shadow: 2px 2px 1px #626262;
  transition: 2s;
}
button:hover {
  background-color: #626262;
  border: 2px solid white;
  color: white;
  box-shadow: 2px 2px 1px white;
}
/*Artists Section Styles */
.artists-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .artists-container {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16%;
  }
}
.artist {
  width: 40%;
  text-align: center;
}
@media (max-width:500px) {
  .artist {
    width: 80%;
  }
}
.artist a {
  font-size: 2rem;
}
@media (max-width:500px) {
  .artist .bio {
    font-size: 12px;
    font-weight: 595;
  }
}
.artist img {
  width: 100%;
}
@media (max-width:500px) {
  .artist img {
    height: 32rem;
  }
}
@media (max-width:500px) {
  header nav .home {
    font-weight: bold;
  }
}
